.header {
  width: 100%;
  max-width: 1158px;
  padding: 0 24px;
  margin: 0 auto;
  padding: 28px 0 34px 0;
  display: flex;
  border-bottom: 1px solid #e4e9f2;
  align-items: center;
  gap: 56px;
}
.nav {
  flex-grow: 1;
}
.nav-list {
  display: flex;
  align-items: center;
  max-width: 400px;
  justify-content: space-between;
}

.nav-list > li {
  position: relative;
}

.nav-list > li > a {
  font-weight: 400;
  font-size: 15px;
  line-height: 173%;
  color: #69707d;
  transition: all 0.4s;
}

.nav-list > li > a:hover {
  color: #1d2026;
}
.nav-list > .nav-list--active > a {
  color: #1d2026;
}
.nav-list--active::after {
  content: "";
  width: 100%;
  height: 4px;
  background: #ff7e1b;
  position: absolute;
  bottom: -48px;
  left: 0;
}
.user-box {
  display: flex;
  align-items: center;
  gap: 46px;
  position: relative;
}
.user-box > span {
  position: relative;
}
.user-box > span::after {
  content: attr(data-count);
  border-radius: 6px;
  max-width: 19px;
  height: 13px;
  background: #ff7e1b;
  font-weight: 700;
  font-size: 10px;
  color: #fff;
  padding: 1px 7px;
  position: absolute;
  top: -8px;
  right: -9px;
}
.cart-wrap {
  transition: all 0.3s;
  cursor: pointer;
}
.cart-wrap:hover svg > g > path {
  fill: black;
}
.user-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.user-photo:hover {
  border: 2px solid #ff7e1b;
}
