@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Kumbh Sans", sans-serif;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

.product {
  display: flex;
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 90px 0;
  gap: 40px;
  flex-wrap: wrap;
  @media (max-width:1120px) {
    padding: 90px 24px;
  }
  @media (max-width:977px) {
   justify-content: center;
  }

  @media (max-width:470px){
 display: block;
  }
}
@media (max-width:470px) {
  .product{
    padding: 0;
    gap: 0;
  }
}

